<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - We Care</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top header-bg">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="site-logo-img"><a href="/" class="custom-logo-link" rel="home" aria-current="page"><img src="https://www.hamza.drajlouni.com/wp-content/uploads/2022/12/cropped-We-Care-1-1-180x53.png" class="custom-logo" alt="Hamza" decoding="async" srcset="https://www.hamza.drajlouni.com/wp-content/uploads/2022/12/cropped-We-Care-1-1-180x53.png 180w, https://www.hamza.drajlouni.com/wp-content/uploads/2022/12/cropped-We-Care-1-1-300x89.png 300w, https://www.hamza.drajlouni.com/wp-content/uploads/2022/12/cropped-We-Care-1-1-1024x304.png 1024w, https://www.hamza.drajlouni.com/wp-content/uploads/2022/12/cropped-We-Care-1-1-768x228.png 768w, https://www.hamza.drajlouni.com/wp-content/uploads/2022/12/cropped-We-Care-1-1.png 1079w" sizes="(max-width: 180px) 100vw, 180px" width="180" height="53"></a></span>

            </div>
            <div class="navbar-collapse collapse header-buttons">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Doctor"))
                        {
                            <li>@Html.ActionLink("Cases", "Index", "Cases")</li>
                        }
                        if (User.IsInRole("Pharmacist"))
                        {
                            <li>@Html.ActionLink("Medicines", "Index", "Medicines")</li>
                            <li>@Html.ActionLink("Cases", "Index", "Cases")</li>
                            <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                        }
                        if (User.IsInRole("Patient"))
                        {
                            <li>@Html.ActionLink("Profile", "Index", "Patients")</li>
                            <li>@Html.ActionLink("Cases", "Index", "Cases")</li>
                            <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                        }
                        if (User.IsInRole("Driver"))
                        {
                            <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                        }
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Patients", "Index", "Patients")</li>
                            <li>@Html.ActionLink("Cases", "Index", "Cases")</li>
                            @*<li>@Html.ActionLink("View Role", "Index", "Role")</li>*@
                            <li>@Html.ActionLink("Create Role", "Create", "Role")</li>
                            <li>@Html.ActionLink("Assign Role", "RegisterRole", "Account")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @if (string.Compare(Request.Url.LocalPath, "/Account/Login") == 0 ||
         string.Compare(Request.Url.LocalPath, "/Account/Register") == 0 ||
         string.Compare(Request.Url.LocalPath, "/MedicineOfPatients/Create") == 0 ||
         string.Compare(Request.Url.LocalPath, "/Medicines/Create") == 0 ||
         string.Compare(Request.Url.LocalPath, "/Medicines/Edit") == 0 ||
         string.Compare(Request.Url.LocalPath, "/MedicalTests/Create") == 0 ||
         Request.Url.LocalPath.Contains("/MedicalTests/Edit") ||
         Request.Url.LocalPath.Contains("/Patients/Edit") ||
         Request.Url.LocalPath.Contains("/Cases/Edit") ||
         string.Compare(Request.Url.LocalPath, "/Orders/Create") == 0 ||
         string.Compare(Request.Url.LocalPath, "/OrderMedicineOfPatients/Create") == 0 ||
         string.Compare(Request.Url.LocalPath, "/Cases/Create") == 0)
    {
        <div class=" box-container">
            <div class="background-overlay"></div>
            @RenderBody()
        </div>
    }
    else if (string.Compare(Request.Url.LocalPath, "/") == 0 || string.Compare(Request.Url.LocalPath, "/default.aspx") == 0)
    {
        <div class=" home-container">
            @RenderBody()
            <hr style="margin-top:60px;" />
        </div>
    }
    else
    {
        <div class="container body-content" style="margin-top:60px;">
            @RenderBody()
            <div style="margin-top:120px;"></div>
            <hr style="margin-top:60px;" />
        </div>
    }
    <footer>

        <div class="ast-builder-footer-grid-columns site-primary-footer-inner-wrap ast-builder-grid-row footer-box">
            <div class="site-footer-primary-section-1 site-footer-section site-footer-section-1">
                <aside class="footer-widget-area widget-area site-footer-focus-item" data-section="sidebar-widgets-footer-widget-2" aria-label="Footer Widget 2">
                    <div class="footer-widget-area-inner site-info-inner">
                        <section id="text-2" class="widget widget_text">
                            <h2 class="widget-title">Call Us</h2>			<div class="textwidget">
                                <p>+962 77599 5656</p>
                            </div>
                        </section>
                    </div>
                </aside>
            </div>
            <div class="site-footer-primary-section-2 site-footer-section site-footer-section-2">
                <aside class="footer-widget-area widget-area site-footer-focus-item" data-section="sidebar-widgets-footer-widget-3" aria-label="Footer Widget 3">
                    <div class="footer-widget-area-inner site-info-inner">
                        <section id="text-3" class="widget widget_text">
                            <h2 class="widget-title">Reach Us</h2>			<div class="textwidget">
                                <p>117 Crown Street, Abdoun, Amman, Jordan</p>
                            </div>
                        </section>
                    </div>
                </aside>
            </div>
            <div class="site-footer-primary-section-3 site-footer-section site-footer-section-3">
                <aside class="footer-widget-area widget-area site-footer-focus-item" data-section="sidebar-widgets-footer-widget-4" aria-label="Footer Widget 4">
                    <div class="footer-widget-area-inner site-info-inner">
                        <section id="text-4" class="widget widget_text">
                            <h2 class="widget-title">Open Hours</h2>			<div class="textwidget">
                                <p>24/7 Service</p>
                            </div>
                        </section>
                    </div>
                </aside>
            </div>
            <div class="site-footer-primary-section-4 site-footer-section site-footer-section-4">
                <div class="footer-widget-area widget-area site-footer-focus-item ast-footer-html-1" data-section="section-fb-html-1">
                    <div class="ast-header-html inner-link-style-">
                        <div class="ast-builder-html-element">
                            <h2 class="widget-title">Follow Us</h2>
                        </div>
                    </div>
                </div>
                <div class="ast-builder-layout-element ast-flex site-footer-focus-item" data-section="section-fb-social-icons-1">
                    <div class="ast-footer-social-1-wrap ast-footer-social-wrap"><div class="footer-social-inner-wrap element-social-inner-wrap social-show-label-false ast-social-color-type-custom ast-social-stack-none ast-social-element-style-filled"><a href="#" aria-label="Facebook" target="_blank" rel="noopener noreferrer" style="--color: #557dbc; --background-color: transparent;" class="ast-builder-social-element ast-inline-flex ast-facebook footer-social-item"><span class="ahfb-svg-iconset ast-inline-flex svg-baseline"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"></path></svg></span></a><a href="#" aria-label="Linkedin" target="_blank" rel="noopener noreferrer" style="--color: #1c86c6; --background-color: transparent;" class="ast-builder-social-element ast-inline-flex ast-linkedin footer-social-item"><span class="ahfb-svg-iconset ast-inline-flex svg-baseline"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path></svg></span></a><a href="#" aria-label="Google" reviews="" target="_blank" rel="noopener noreferrer" style="--color: #dc4e41; --background-color: transparent;" class="ast-builder-social-element ast-inline-flex ast-google_reviews footer-social-item"><span class="ahfb-svg-iconset ast-inline-flex svg-baseline"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" viewBox="0 0 24 28"><title id="google_reviews"> Google Reviews </title><path d="M12 12.281h11.328c.109.609.187 1.203.187 2C23.515 21.125 18.921 26 11.999 26c-6.641 0-12-5.359-12-12s5.359-12 12-12c3.234 0 5.953 1.188 8.047 3.141L16.78 8.282c-.891-.859-2.453-1.859-4.781-1.859-4.094 0-7.438 3.391-7.438 7.578s3.344 7.578 7.438 7.578c4.75 0 6.531-3.406 6.813-5.172h-6.813v-4.125z"></path></svg></span></a><a href="#" aria-label="Instagram" target="_blank" rel="noopener noreferrer" style="--color: #af0606; --background-color: transparent;" class="ast-builder-social-element ast-inline-flex ast-yelp footer-social-item"><span class="ahfb-svg-iconset ast-inline-flex svg-baseline"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg></span></a></div></div>
                </div>
            </div>
        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
