@model Medicine_delivery.Models.OrderMedicineOfPatient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderMedicineOfPatient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Case.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Case.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicineOfPatient.Medicine.GenericName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicineOfPatient.Medicine.GenericName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id, orderId = Request.QueryString["orderId"] }) |
    @Html.ActionLink("Back to List", "Index", new { orderId = Request.QueryString["orderId"] })
</p>
